[submodule "vim/vim/bundle/vim-fugitive"]
	path = vim/vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/vim/bundle/vim-colors-solarized"]
	path = vim/vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim/vim/bundle/ctrlp.vim"]
	path = vim/vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/vim/bundle/nerdtree"]
	path = vim/vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "vim/vim/bundle/pydoc.vim"]
	path = vim/vim/bundle/pydoc.vim
	url = https://github.com/fs111/pydoc.vim.git
[submodule "zsh/oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = git@github.com:Venefyxatu/oh-my-zsh.git
[submodule "vim/vim/bundle/vim-markdown"]
	path = vim/vim/bundle/vim-markdown
	url = git://github.com/hallison/vim-markdown.git
